{% extends "index/base.html"%}
{% load static %}


    
{% block body %}

<section style="background:url({% static 'img/ddd.jpg'%});background-repeat: no-repeat;background-position: center center;
  background-size: cover;background-attachment: fixed;">
   <div class="container">
      <div class="p-4 page_header">
          <a href="{% url 'index:index' %}">
           Home
           
          </a> 
          <a href="javascripts:void(0);">></a>
          <a href="#">Documents</a>
          <hr>
          <h4>Available documents</h4>
          {% include 'index/search.html' %}
      </div>
   </div>
</section>

<section class="mt-2">

   <div class="container">
       <div class="row">

          {% for docu in docu %}

             <div class="col-sm-12 col-lg-12">
                 <p><img src="{% static 'img/document.png'%}" height="25" class="mr-2"><a href="{% url 'event:document_detail' docu.id %}">{{docu}}</a></p><hr>
             </div>

          {% empty%}

            <div class="col-sm-12">
                 {% include 'index/error.html'%}
            </div>
            
          {% endfor %}
  <!--_______________________pagination_________________________________-->
           <div class="col-sm-12">
               <div class="pagination">
                <span class="step-links">
                    {% if docu.has_previous %}
                        <a href="?page=1">&laquo;</a>
                        <a href="?page={{docu.previous_page_number }}">
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>

                    {% endif %}

                    <span class="current">
                        Page {{docu.number }} of {{docu.paginator.num_pages }}.
                    </span>

                    {% if docu.has_next %}
                        <a href="?page={{docu.next_page_number }}">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                        <a href="?page={{docu.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
           </div>
<!--____________________________________________________________________-->
          
       </div> 
   </div>

</section>

{% include 'index/subscribe.html'%}
{% include 'index/coordination.html' %}

{% endblock %}