{% extends "index/base.html"%}
{% load static %}
{% load crispy_forms_tags %}


    
{% block body %}

<section style="background:url({% static 'img/ph.jpg'%})no-repeat;">
   <div class="container">
      <div class="p-4 page_header">
          <a href="{% url 'index:index' %}">
           Home
           
          </a> 
          <a href="javascripts:void(0);">></a>
          <a href="#">Dashboard</a>
           <a href="javascripts:void(0);">></a>
          <a href="#">add activity</a>
          <hr>
          <h4>{{title}}</h4>
          {% include 'index/search.html' %}
      </div>
   </div>
</section>

<section class="my-2">
   <div class="container">
       <div class="row">
          <div class="col-sm-12 col-lg-10 rounded p-2" style="background-color:#f2f2f2;">
              <form  method="POST" 
                    enctype="multipart/form-data" id="formUpload">
                 {% csrf_token %}
                 {{ form.media }}
                 {{form|crispy}}
                 <button id="custom_btn">Submit</button>
              </form>
          </div>
       </div>
   </div>
</section>

{% endblock %}
