   <div id="donation_view">
                  
                    <div class="p-2 rounded">
                       <table class="table table-striped">
                          <thead style="background-color:rgb(0,0,153);color:white;">
                             <tr>
                             <th>Name</th>
                             <th>Amount</th>
                             <th>Ref code</th>
                             <th>Phone</th>
                             <th>Email</th>
                          </tr>
                          </thead>
                          {% for give in give %}
                          <tr> 
                              <td>{{give}}<br>
                              {% if give.paypal == True %}
                                 <small style="color:green;">paypal
                                  <i class="fa fa-check" aria-hidden="true"></i>
                                 </small>
                              {% else %}
                                 <small style="color:green;">Mobile money |
                                     {% if give.verified == True %}
                                       Verified
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                     {% else %}
                                       <a accesskey="{{give.id}}" id="verify_give" href="javascript:void(0);">Verify</a>
                                     {% endif %}
                                 </small>
                              {% endif %}
                             </td>
                              {% if give.paypal == True %}
                              <td>$ {{give.amount}}</td>
                              {% else %}
                              <td>Mk {{give.amount}}</td>
                              {% endif %}
                              <td>{{give.ref}}</td>
                              <td>{{give.phone}}</td>
                              <td>{{give.email}}</td>
                          </tr>
                          {% empty %}
                          <tr>
                             <td colspan="5">No donation found !!!</td>
                          </tr>
                          {% endfor %}
                       </table>
                    </div>
                  
                </div>