<div class="rounded-bottom p-2" id="Searching_form">
        <a class="close" id="search_close" href="javascript:void(0);">X</a>
        <div class="row">
             <div class="col-sm-12 col-lg-3">
                 <!-------pass------------------>
             </div>
             <div class="col-sm-12 col-lg-6 text-center">
                 <form method="GET" action="" class="" id="search_form">
                    <input class="mt-4" type="search" 
                      placeholder="{{search}}" aria-label="Search" name="q">
                </form>
             </div>
        </div>
  </div>