{% extends "index/base.html"%}
{% load static %}


    
{% block body %}

<section style="background:url({% static 'img/ddd.jpg'%});background-repeat: no-repeat;background-position: center center;
  background-size: cover;background-attachment: fixed;">
   <div class="container">
      <div class="p-4 page_header">
          <a href="{% url 'index:index' %}">
           Home
           
          </a> 
          <a href="javascripts:void(0);">/</a>
          <a href="{% url 'index:about_daess' %}">About DAESS</a>
          <a href="javascripts:void(0);">/</a>
          <a href="{% url 'index:objective' %}">Objectives</a>
          <a href="javascripts:void(0);">/</a>
          <a href="{% url 'index:structure'%}">Sturcture</a>
          <a href="javascripts:void(0);">/</a>
          <a href="#">Team</a>
          <hr>
          <div class="item_category">
             <div >
                <a href="javascripts:void(0)">TEAM</a>
             </div>
             <div class="item_content p-4 rounded">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                       <a href="{% url 'index:team2' 'DAC'%}">DAC</a>
                       <a href="{% url 'index:team2' 'DAECC'%}">DAECC</a>
                       <a href="{% url 'index:team2' 'DSP'%}">DSP</a>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                       <a href="{% url 'index:team2' 'Msamala ASP'%}">Msamala ASP</a>
                       <a href="{% url 'index:team2' 'Nkaya ASP'%}">Nkaya ASP</a>
                       <a href="{% url 'index:team2' 'Kachenga ASP'%}">Kachenga ASP</a>
                       <a href="{% url 'index:team2' 'Chanthunya ASP'%}">Chanthunya ASP</a>
                       <a href="{% url 'index:team2' 'Kalembo ASP'%}">Kalembo ASP</a>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                       <a href="{% url 'index:team2' 'Amidu ASP'%}">Amidu ASP</a>
                       <a href="{% url 'index:team2' 'Sawali ASP'%}">Sawali ASP</a>
                       <a href="{% url 'index:team2' 'Matola ASP'%}">Matola ASP</a>
                       <a href="{% url 'index:team2' 'Phalula ASP'%}">Phalula ASP</a>
                       <a href="{% url 'index:team2' 'Toleza ASP'%}">Toleza ASP</a>
                    
                    </div>
                 
                </div>
             </div>
          </div>
          {% include 'index/search.html' %}
      </div>
   </div>

</section>


<!----------------key partners section--------------->
<section class="pt-4 pb-4" >
  <div class="container">
    {% if alert %}
         <div id="alert" class="alert">
            <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
            <p style="color:rgb(0,128,0);">{{alert}}</p>
         </div>
        {% endif %}
    <div class="text-center pb-4 div_header">

       {% if team %}
       <h4>{{team}} Team</h4>
       {% else %}
       <h4>Team</h4>
       {% endif %}

   </div>
    <div class="row text-center">
      {% for contact in contact %}
                <div class="col-sm-12 col-lg-3">
         <div class="p-2 rounded teammember my-2" id="teammember">
            
               <h4 style="color:white;"><strong>{{contact.name}}</strong></h4>
               {% if contact.file %}
               <img src="{{contact.file.url}}" class="img-fluid rounded-circle">
               {% else %}
               <img src="{% static 'img/blk1.png' %}" class="img-fluid rounded-circle">
               {% endif %}
               <p>{{contact.position}}</p>

                  <div class="text-center">

                    {% if contact.facebook %}
                    <a class="mr-4" href="{{contact.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    {% else %}
                    <a class="mr-4" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}

                    {% if contact.linkedin %}
                       <a class="mr-4" href="{{contact.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                    {% else %}
                       <a class="mr-4" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                    {% endif %}

               </div>
               

              <div class="rounded inner_teammember" id="inner_teammember">


                  {% if request.user.is_authenticated %}
                     <div id="daess_edit">
                        <a href="{% url 'account:EditTeam' contact.slug %}"><i class="fas fa-user-edit"></i></a>
                        <a href="{% url 'account:removemember' contact.id %}"><i class="fas fa-trash-alt"></i></a>
                     </div>
                  {% endif %}

                  <h4 style="color:white;"><strong>{{contact.name}}</strong></h4>
                  <img src="{{contact.file.url}}" class="img-fluid rounded-circle">
                  <a href="{% url 'index:tema_detail' contact.slug %}">Chat with me</a>

                  <div class="text-center">

                    {% if contact.facebook %}
                    <a class="mr-4" href="{{contact.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    {% else %}
                    <a class="mr-4" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}

                    {% if contact.linkedin %}
                       <a class="mr-4" href="{{contact.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                    {% else %}
                       <a class="mr-4" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                    {% endif %}

                    <a href="{% url 'index:tema_detail' contact.slug %}"><i class="fab fa-whatsapp"></i></a>
                    </div>
               </div>
           
         </div>
       </div>
      {% empty %}
        <div class="col-sm-12 col-lg-12 text-center">
           {% include 'index/error.html'%}
        </div>
      {% endfor %}

      <!--_______________________pagination_________________________________-->
           <div class="col-sm-12">
               <div class="pagination">
                <span class="step-links">
                    {% if contact.has_previous %}
                        <a href="?page=1">&laquo;</a>
                        <a href="?page={{contact.previous_page_number }}">
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>

                    {% endif %}

                    <span class="current">
                        Page {{contact.number }} of {{contact.paginator.num_pages }}.
                    </span>

                    {% if contact.has_next %}
                        <a href="?page={{contact.next_page_number }}">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                        <a href="?page={{contact.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
           </div>
<!--__________________________________________________________________-->
    </div>
  </div>

</section>


{% include 'index/subscribe.html'%}
{% include 'index/partiners.html' %}


{% endblock %}